## Function Definition

### None Variable Return Functions

In [3]:
# def function_name(parameters):
#     """docstring"""
#     statement(s)

In [4]:
def sayHi(): 
    print("Hello")

In [5]:
sayHi()

Hello

In [6]:
def sayHi(name):
    print("Hello " + name)

In [7]:
sayHi("Bob")
sayHi("Julia")

Hello Bob
Hello Julia

In [8]:
def sayHi(name = "guest"): #default parametre
    print("Hello, " + name)

In [9]:
sayHi("My friend")

Hello, My friend

In [10]:
def sayHi2(name = "guest", surname = " friend"):
    print("Hello, " + name + surname + " !")

In [11]:
sayHi2()
sayHi2("John")
sayHi2("John"," Travolta")

Hello, guest friend !
Hello, John friend !
Hello, John Travolta !

In [12]:
def sayHi2(name, surname = " friend"):
    print("Hello, " + name + surname)

In [13]:
sayHi2("Willy")

Hello, Willy friend

### Variable Return Function

In [14]:
# def functionname( parameters ):
#    "function_docstring"
#     function_suite
#     return [expression]

In [15]:
def get_right_triangle_area(a,b):
    result = (a * b)/2 
    return result

In [16]:
get_right_triangle_area(5,6)

15.0

In [17]:
result = get_right_triangle_area(2,3)

In [18]:
result

3.0

In [19]:
def factorial(x):
    
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

In [20]:
factorial(5)

120

## Lambda:

Syntax: lambda arguments : expression

A lambda function can take any number of arguments, but they can return only one value in the form of expression.

Single one line function ,Anoymous function(no name),no def, no return

Example:

In [ ]:
# Find sum of Three numbers
def cem(a,b,c):
    return a+b+c

print(cem(3,4,5))

12

Instead of it we will write it in one line

In [ ]:
add=lambda a,b,c: print(a+b+c)
add(4, 5, 1)

10

Another Example

In [ ]:
# Find Biggest element(Nested If else in lambda)
def max(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

print(max(3,4,5))

5

Instead of it we will write it in one line

In [ ]:
find_max=lambda a,b,c:a if a>b and a>c else (b if b>a and b>c else c)
print(find_max(3,4,5))

5

What if we need to work with lists or tuples? ......

![title](pictures/cat_thinks.jpg)

## MAP:

Syntax: **map(function, iterable)**

function : It is a function to which map passes each element of given iterable.

iterable : It is a iterable which is to be mapped.

You can pass one or more iterable to the map() function.

The returned value from map() (map object) then can be passed to functions like list() (to create a list), set() (to create a set) or tuple() (to create a tuple).

In [13]:
nums = [1, 2, 3, 4, 5] 
for i in range(len(nums)):
    # i =1,2,3,4,5
    nums[i]=nums[i]**2
print(nums)

[1, 4, 9, 16, 25]

Instead of it we can use map. We need a function and an iterable. We have a iterable, so we need to create a function which calculate power of 2

In [14]:
def power(n):    
    return n**2

In [15]:
print(power(5))
print(power(2))

25
4

Now we can use map

In [16]:
print(map(power,nums))

<map object at 0x7fd070e8c8d0>

But it returns the object and its address, so we need to convert it to list, tuble or set.

In [17]:
nums = [1, 2, 3, 4, 5] 

print(list(map(power,nums)))

[1, 4, 9, 16, 25]

If we need a function to use a map, can we use lambda instead of a function ???

![title](pictures/cat.png)

The answer is Yes

In [18]:
power_2=lambda a: a**2

In [19]:
print(power_2(2))
print(power_2(5))

4
25

We can use lambda instead of the function, now lets connect map and lambda together

In [20]:
nums = [1, 2, 3, 4, 5] 

print(list(map(power_2,nums)))

[1, 4, 9, 16, 25]

Tadaaaaam, it is working :D

lets have a look at another example:

In [21]:
# Convert all elements of list in uppercase

In [22]:
people = ["Aysu", "Rustem", "Aytan", "Cavad"]


up = list(map(lambda x: x.upper(), people))

In [23]:
print(up)

['AYSU', 'RUSTEM', 'AYTAN', 'CAVAD']

Let's say we want to get all the names that begin with "A". Lets write it and check the result

In [24]:
name_a = lambda x:x if x[0]=="A" else None

In [25]:
new_name_list = list(map(name_a, people))

In [26]:
print(new_name_list)

['Aysu', None, 'Aytan', None]

Even though we only wanted to get names that start with capital "A", we need to write the else part. How to get only the names but not None

![title](pictures/thinking-cat.jpg)

# Filter:

Syntax: **filter(function, iterable)**

function: function that tests if each element of a sequence true or not.

iterable: Iterable which needs to be filtered.

In [12]:
#Filter out even and odd numbers from list
seq = [0, 1, 2, 3, 4, 5]

# result contains odd numbers of the list
result = filter(lambda x: x % 2 == 1, seq)
print("Odd numbers:",list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print("Even numbers:",result)

Odd numbers: [1, 3, 5]
Even numbers: <filter object at 0x7fd06e430190>

As you can see, it return the **elements of the array** which are **True**

Can we solve our previous problem, where we need to find the names that begin with capital ?

In [2]:
people = ["Aysu", "Rustem", "Aytan", "Cavad"]

name_a = lambda x: x[0]=="A"

new_name_list = list(filter(name_a, people))

In [3]:
print(new_name_list)

['Aysu', 'Aytan']

![title](pictures/cat_smile.jpg)

Voila, now it works. Lets see some other examples in order to get the idea

In [4]:
# A dictionary Users(twitter database) is given in which we have username and tweets.
users = [
    {"username": 'aysel', "tweets": ["i love cake", "i am good"]},
    {"username": 'rustem', "tweets": []},
    {"username": 'cavad', "tweets": ["India", "Python"]},
    {"username": 'kenan', "tweets": []},
    {"username": 'asad', "tweets": ["i am good"]},
]

In [5]:
users

[{'tweets': ['i love cake', 'i am good'], 'username': 'aysel'},
 {'tweets': [], 'username': 'rustem'},
 {'tweets': ['India', 'Python'], 'username': 'cavad'},
 {'tweets': [], 'username': 'kenan'},
 {'tweets': ['i am good'], 'username': 'asad'}]

In [6]:
print(list(filter(lambda x: not x['tweets'], users)))

[{'username': 'rustem', 'tweets': []}, {'username': 'kenan', 'tweets': []}]

In [7]:
inactive_users = list(filter(lambda x: not x['tweets'], users))
print("DICTIONARY OF USERS THAT HAVE NO TWEETS ARE \n",inactive_users)

DICTIONARY OF USERS THAT HAVE NO TWEETS ARE
 [{'username': 'rustem', 'tweets': []}, {'username': 'kenan', 'tweets': []}]

In [8]:
print("USERS THAT HAVE NO TWEETS ARE \n",inactive_users[0]["username"])
print("USERS THAT HAVE NO TWEETS ARE \n",inactive_users[1]["username"])

USERS THAT HAVE NO TWEETS ARE
 rustem
USERS THAT HAVE NO TWEETS ARE
 kenan

In [9]:
for user_dict in inactive_users:
    print(user_dict["username"])

rustem
kenan

In [10]:
active_users = list(filter(lambda x: x['tweets'], users))
print("DICTIONARY OF USERS THAT HAVE NO TWEETS ARE \n",active_users)

DICTIONARY OF USERS THAT HAVE NO TWEETS ARE
 [{'username': 'aysel', 'tweets': ['i love cake', 'i am good']}, {'username': 'cavad', 'tweets': ['India', 'Python']}, {'username': 'asad', 'tweets': ['i am good']}]

In [11]:
for user_dict in active_users:
    print(user_dict["username"])

aysel
cavad
asad

# Zip:

The zip() function returns an iterator of tuples based on the iterable object.

If no parameters are passed, zip() returns an empty iterator

If a single iterable is passed, zip() returns an iterator of 1-tuples. Meaning, the number of elements in each tuple is 1.

If multiple iterables are passed, ith tuple contains ith Suppose, two iterables are passed; one iterable containing 3 and other containing 5 elements. Then, the returned iterator has 3 tuples. It’s because iterator stops when shortest iterable is exhaused.

In [ ]:
name = ["Ali", "Mustaga", "Cavad"]
student_id = [4, 1, 3]
marks = [40, 50, 60]

mapped = zip(name, student_id, marks)

print(list(mapped))

[('Ali', 4, 40), ('Mustaga', 1, 50), ('Cavad', 3, 60)]

Passing No Arguments

In [ ]:
name = []
mapped = zip(name)
print(list(mapped))

[]

Passing One Argument

In [ ]:
name = ["Ali", "Mustaga", "Cavad"]
mapped = zip(name)
print(list(mapped))

[('Ali',), ('Mustaga',), ('Cavad',)]

Passing Arguments of Unequal Length

In [ ]:
name = ["Ali", "Mustaga", "Cavad"]
marks = [40, 50]

mapped = zip(name,marks)
print(list(mapped))

[('Ali', 40), ('Mustaga', 50)]

As you can see, we have no "Cavad" as the number of elements that zip() puts out will be equal to the length of the shortest iterable

In [ ]:
even_numbers = [2,4,6,7,8,9,2,3,4]
even_numbers_squared = [4,16,36,49,64,81,4,9,16]
zipped_result = zip(even_numbers, even_numbers_squared)

list(zipped_result)

[(2, 4), (4, 16), (6, 36), (7, 49), (8, 64), (9, 81), (2, 4), (3, 9), (4, 16)]